<div class="col-md-6">
  <h2> User Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">userId</th>
      <th>login</th>
      <th>password</th>
      <th>gender</th>
      <th>birthDate</th>
      <th>information</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.userId}}</td>
      <td>{{user.login}}</td>
      <td>{{user.password}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.birthDate}}</td>
      <td>{{user.information}}</td>
    </tr>
    </tbody>
  </table>
</div>

